.post {
    text-decoration: none;
    color: black;
    display: block;
    text-align: start;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    max-width: 25%;
    min-width: 200px;
    transition-duration: 1s;
    background: #ECF0F180;
}
.date {
    font-style: italic;
    font-size: 0.75rem;
}
.post-footer {
    /* border-bottom: 1px solid grey; */
    width: 300px;
}
iframe {
    width: 100% !important;
    height: 400px;
}
@media (min-width: 780px) {
    .post:hover{
        transform: scale(1.025);
        transition-duration: 0.5s;
        background: #ECF0F1F0;
        box-shadow: 0px 20px 45px -9px rgba(0,0,0,0.4);
    }
}
@media (max-width: 780px) {
    .post {
        display: block;
        text-align: start;
        border-radius: 5px;
        margin: auto;
        margin-top: 25px;
        margin-bottom: 25px;
        padding: 10px;
        max-width: 95%;
        min-width: 200px;
        transition-duration: 1s;
        background: #ECF0F1F0;
    }
    .post:active{
        transform: scale(1.025);
        transition-duration: 0.5s;
        background: #ECF0F1F0;
        box-shadow: 0px 20px 45px -9px rgba(0,0,0,0.4);
    }
    iframe {
        height: 270px;
    }
}