body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-family: 'Quicksand', sans-serif;
}


.main-background {
    background: #FFFFFF;
    height: 100%;
    /* width: 100%; */

}

.title {
    /* font-size: 5vw; */
}

.full-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 101vh;
    color: #353535;
    flex-flow: column;
    margin: -2px;
    /* padding-top:45vh; */
}

li {
    list-style: none;
}